{% load blog_extras %}

<div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);"
  class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
  {% if blog.effective_thumbnail %}
  <div class="w-full md:w-[350px] md:flex-shrink-0 h-[180px] overflow-hidden rounded-lg">
    <img class="w-full h-full object-cover"
      src="{{ blog.effective_thumbnail }}" alt="{{ blog.title }}">
  </div>
  {% endif %}
  <div class="min-w-0">
    <a class='text-blue-100 hover:text-blue-300 transition duration-300'
      href='{% url "blogpost" blog.slug %}'><span
        class='text-xl font-bold'>{{ blog.title|slice:80 }}</span></a><br>
    <p class='my-3 break-words'>{{ blog.meta|slice:180 }}</p>
    <p class='mt-2 mb-4 text-gray-400'>by <i class="bi bi-person"></i> <a href='{% url "about" %}'
        class='group transition-all duration-500 ease-out'><span
          class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>Ozodbek</span></a>
      <i class="bi bi-dot"></i><i class="bi bi-tag"></i> <a href='{% url "category" blog.category %}'
        class='group transition-all duration-500 ease-out'><span
          class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out group-hover:text-cyan-200'>{{ blog.category }}</span></a>
      <i class="bi bi-dot"></i> <span><i class="bi bi-calendar4-event"></i> {{ blog.time|date:"M j, Y" }}</span>
      <i class="bi bi-dot"></i> <span class='text-gray-500'><i class="bi bi-clock"></i> {{ blog.content|reading_time }} min read</span>
    </p>
    <a href='{% url "blogpost" blog.slug %}'
      class='inline-block bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Read
      more <i class="bi bi-arrow-right font-bold"></i></a>
  </div>
</div>
