{% extends 'base.html' %}
{% load static %}

{% block title %}{% if query %}Search: {{ query }}{% else %}Search{% endif %}{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
  <p class='text-4xl font-extrabold py-5 text-center md:text-start'>{% if query %}Results for "{{ query }}"{% else %}Search{% endif %}</p>
  {% if message %}
  <div class='p-5 grid place-items-center mt-10 mb-40 text-center'>
    <p class='my-4 text-5xl font-extrabold md:text-8xl'>404</p>
    <p>{{ message }}</p>
  </div>
  <div class="text-xl p-5 grid grid-cols-1 place-items-center items-center md:grid-cols-3 -mt-44 gap-x-4">
    <a href="{% url 'home' %}" style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);"
      class="text-white no-underline hover:scale-105 hover:transform transition duration-300 bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
      <div>
        <p class='text-4xl my-2'><i
            class="bi bi-house-door text-transparent bg-clip-text bg-gradient-to-r from-cyan-300 to-blue-500"></i></p>
        <p class='text-base'>Return Home</p>
      </div>
    </a>
    <a href="{% url 'categories' %}" style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);"
      class="text-white no-underline hover:scale-105 hover:transform transition duration-300 bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
      <div>
        <p class='text-4xl my-2'><i
            class="bi bi-tags text-transparent bg-clip-text bg-gradient-to-r from-cyan-300 to-blue-500"></i></p>
        <p class='text-base'>Browse Categories</p>
      </div>
    </a>
    <a href="{% url 'blog' %}" style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);"
      class="text-white no-underline hover:scale-105 hover:transform transition duration-300 bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
      <div>
        <p class='text-4xl my-2'><i
            class="bi bi-book text-transparent bg-clip-text bg-gradient-to-r from-cyan-300 to-blue-500"></i></p>
        <p class='text-base'>Visit Blog</p>
      </div>
    </a>
  </div>

  {% endif %}

  {% for blog in results %}
  {% include 'partials/_blog_list_card.html' %}
  {% endfor %}

  <div class="pagination py-8 flex justify-between items-center">
    {% if results.has_previous %}
    <a class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out'
      href="?q={{ query }}&page={{ results.previous_page_number }}"><i class="bi bi-arrow-left font-bold"></i>
      Previous</a>
    {% else %}
    <span></span>
    {% endif %}

    {% if results.has_next %}
    <a class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out'
      href="?q={{ query }}&page={{ results.next_page_number }}">Next <i class="bi bi-arrow-right font-bold"></i></a>
    {% endif %}
  </div>
</div>
{% endblock %}